body {
  margin: 0;
}
#app {
  display: flex;
}

/* this is the sidebar: */
.pizza-viewer {
  background: #3a424f;
}
.pizza-container {
  width: 500px;
  height: 350px;
  position: relative;
  margin: 100px 20px 0;
}
.pizza-container > * {
  position: absolute;
}
.pizza-container > .pizza-base {
  width: 75%;
  left: 90px;
}
.pizza-container > .pizza-toppings {
  width: 50%;
  left: 165px;
  top: 50px;
}
.pizza-container > .pizza-board {
  width: 100%;
}
.pizza-toppings img {
  max-width: 21%;
  padding: 2px;
  height: auto;
}

/* the main part of form */
.main {
  width: 100%;
}
.section {
  padding: 1rem 2rem;
}
.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.form-control {
  display: grid;
  grid-gap: 0.5rem;
  align-content: start;
}
.form-control > label {
  font-weight: bold;
  color: rgba(0,0,0,0.75);
  font-size: 0.875rem;
}
.form-control > input {
  background: #fff;
  border-radius: 2px;
  border: 1px solid #d7d7e7;
  font-size: 1.25rem;
  padding: 10px 15px;
  outline: none;
}
.form-control.error > label {
  color: #B00020;
}
.form-control.error > input {
  color: #B00020;
  border-color: #B00020;
}
.pizza.active {
  background: #1a98e1;
  color: white;
}
.pizza-size {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  text-transform: capitalize;
}
.large > img {
  max-width: 60px;
  max-height: 60px;
}
.medium  > img {
  max-width: 50px;
  max-height: 50px;
}
.small  > img {
  max-width: 40px;
  max-height: 40px;
}
.img.active{
  background: #1a98e1;
  color: white;
}
.pizza-size > div {
  display:grid;
  grid-template-columns: repeat(2, 0.35fr);
  align-items:center;
}
.size > .validation-error.active {
  display: flex;
  justify-content: center;
  border: solid 1px;
  padding: 10px 0;
  margin: 10px;
}
.toppings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}
.topping {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  align-items: center;
  background: rgba(0,0,0,0.05);
  cursor: pointer;
  text-transform: capitalize;
}
.topping.active {
  background: #1a98e1;
  color: white;
}
.topping > .img {
  padding: 5px;
  background: #e6e6e6;
}
.topping img {
  display: block;
  width: 35px;
  height: 35px;
}
.summary {
  padding: 0;
  list-style: none;
}
.summary > li {
  display: grid;
  grid-gap: 5px;
  align-items: center;
  grid-template-columns: auto auto auto 1fr auto;
  text-transform: capitalize;
}
.summary > li:not(:last-child) {
  margin-bottom: 0.5rem;
}
.total {
  text-align: right;
  font-size: 1.25rem;
}
.section > button {
  width: 100%;
  background: #98C550;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button.amount {
  width: 2rem;
  height: 2rem;
  border: 0;
  outline: 0;
  background: rgba(0,0,0,0.05);
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}
button.amount:active {
  background: #1a98e1;
  color: white;
}


/* submit modal */
.confirmation-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: rgba(0,0,0,0.75);
  z-index: 1;
}
.modal-box {
  border-top: 5px solid #98C550;
  text-align: center;
  background: white;
  min-width: 400px;
  margin-top: 10rem;
  padding: 1rem 2.5rem;
}
.modal-box .address p {
  margin: 0.5rem 0;
}
.modal-box hr {
  margin: 1.5rem 0;
}
.modal-box .pizzas {
  text-align: left;
}
.modal-box .pizza {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.modal-box .pizza-confirm-size {
  text-transform: capitalize;
}
.modal-box .pizza-confirm-toppings > div {
  text-transform: capitalize;
  display: inline;
}
.modal-box .pizza-confirm-toppings > div:not(:last-child) {
  margin-right: 0.5rem;
  text-transform: capitalize;
}
.modal-box .pizza-confirm-toppings > div:not(:last-child)::after {
  content: ',';
}
.modal-box .actions {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
}
.modal-box .actions button {
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.modal-box .actions button.confirm {
  background: #98C550;
}
.modal-box .actions button.cancel {
  background: #e74c3c;
}
.validation-error {
  color: #B00020;
  font-size: 14px;
}